# direnv configuration for automatic nix shell activation
# Install direnv: https://direnv.net/docs/installation.html
#
# Usage:
#   direnv allow    # Allow this .envrc (first time only)
#   cd project/     # Shell automatically activates
#
use flake
